<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <label>
    Nome:
    <input type="text" formControlName="firstName" />
    <span
      class="alert"
      *ngIf="
        cadastroForm.get('firstName')?.errors &&
        (cadastroForm.get('firstName')?.touched ||
          cadastroForm.get('firstName')?.dirty)
      "
    >
      Adicionar um nome.
    </span>
  </label>

  <br />
  <br />

  <label>
    Sobrenome:
    <input type="text" formControlName="lastName" />
    <span
      class="alert"
      *ngIf="
        cadastroForm.get('lastName')?.errors &&
        (cadastroForm.get('lastName')?.touched ||
          cadastroForm.get('lastName')?.dirty)
      "
    >
      Adicionar um nome.
      {{ cadastroForm.get("lastName")?.errors }}
    </span>
  </label>
  <br />
  <br />
  <label>
    Email:
    <input type="email" formControlName="email">

  </label>

  <p>
    <!-- {{ cadastroForm.get('firstName')?.value }} -->

    <!-- {{ cadastroForm.get('firstName')?.errors | json }}
    {{ cadastroForm.get('firstName')?.touched | json }}
    {{ cadastroForm.get('firstName')?.dirty | json }} -->

   <!--  {{ cadastroForm.get("lastName")?.errors | json }} -->

    {{ cadastroForm.get("email")?.errors | json }}
  </p>

  <button [disabled]="cadastroForm.invalid">Enviar</button>
</form>
